---
name: Lint

on:
  push:
  pull_request:

permissions:
  actions: read
  contents: read
  checks: write
  pull-requests: write
  security-events: write

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Create requirements.txt
        if: hashFiles('**/requirements.txt', '**/pyproject.toml') == ''
        run: touch ./requirements.txt

      - name: Check
        uses: reactive-firewall/shellcheck-scan@v1
        with:
          match: .env build-* fetch
          publish-artifacts: ${{ github.ref_name == github.event.repository.default_branch }}

  yamllint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Check
        run: yamllint --strict .

  editorconfig:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install
        uses: editorconfig-checker/action-editorconfig-checker@main

      - name: Check
        run: editorconfig-checker

  actionlint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Check
        uses: raven-actions/actionlint@v2
        with:
          cache: false
          pyflakes: false

  prettier:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v6

      - name: Install
        run: npm install prettier@next

      - name: Check
        run: npx prettier --check .
